h1
{
  font-size: 100px;
  font-weight: bold;
  text-align: center;
}

h2
{
  font-size: 50px;
  text-align: right;
}

ol
{
  text-align: right;
}

h3
{
  font-size: 50px;
  text-align: left;
  font-style: italic;
}

p
{
  text-align: left;
}

li
{
  text-decoration : underline;
}
.ul2{
  text-align: left;
  list-style-type: none;
}
p
{
  font-size: 11px;
  font-style : oblique;
}
